Flat/Frontend/node_modules/
Flat/Frontend/flat-management-frontend/node_modules/
Flat/build/
Flat/.gradle/
/build/
/.gradle/
/.idea
Flat/bin/
/Flat/.idea
build/
# Database
h2-windows/h2/FlatHub.trace.db
h2-windows/h2/FlatHub.mv.db
.DS_Store

# Avoid ignoring Gradle wrapper jar file
!gradle-wrapper.jar
